* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    min-height: 0.5rem;
}

window#waybar {
    background: transparent;
}

/* workspace styling */
#workspaces {
    margin-top: 6px;
    background: #fcf1e2;
    padding: 5px 5px;
    border-radius: 10px;
}

#workspaces button, #workspaces button.persistent {
    padding: 3px 0.75rem;
    margin: 0 2px;
    background: transparent;
    border-radius: 4px;
    color: #000000;
    transition: background 0.2s, border 0.2s;
}

#workspaces button.visible {
    color: #b87032;
    font-weight: bold;
}

#workspaces button.active {
    /* border-top: 2px solid #b87032; */
    /* border-bottom: 2px solid #b87032; */
    /* background: linear-gradient(to bottom, #b87032 2px, transparent 2px, transparent calc(100% - 2px), #b87032 calc(100% - 2px)); */
    background: linear-gradient(to bottom, transparent calc(100% - 2px), #b87032 calc(100% - 2px));
}

#workspaces button:hover {
    background: #b87032;
    color: #fcf1e2;
}

/* other modules */
#custom-window,
#custom-playerctl,
#custom-discord_badge,
#network,
#custom-bluetooth,
#custom-keyboard,
#pulseaudio,
#pulseaudio.microphone,
#clock {
    margin-top: 6px;
    margin-left: 3px;
    margin-right: 3px;
    padding: 0 10px;
    min-width: 2.5rem;
    border-radius: 90px;
    color: #161320;
}

#custom-window {
    /* background: transparent; */
    background-color: #B5E8E0;
}

/* Modules - Individual styling */
#custom-discord_badge {
    background: #e8a2af;
    font-size: 18px;
}

#custom-keyboard {
    background: purple;
}

#network {
    background: #f8bd96;
    font-size: 18px;
}

#custom-bluetooth {
    background: #c9cbff;
}

#pulseaudio {
    background: #fae3b0;
    min-width: 3.2rem;
}

#pulseaudio.microphone {
    background: #f28fad;
}

#custom-playerctl {
    background: #bb85ed;
}

#clock {
    background: #abe9b3;
}

/* Make modules fit and avoid overflow */
.modules-left,
.modules-center,
.modules-right {
    min-width: 0;
}

.modules-right {
    padding-right: 1.25rem;
}

.modules-left {
    padding-left: 1.25rem;
}

/* Hover effects for better interactivity */
#custom-discord_badge:hover,
#custom-keyboard:hover,
#network:hover,
#custom-bluetooth:hover,
#pulseaudio:hover,
#pulseaudio.microphone:hover,
#custom-playerctl:hover,
#clock:hover,
#custom-window:hover {
    color: black;
    opacity: 0.8;
    transition: all 0.2s ease;
}

/* Special states */
#pulseaudio.muted {
    background: #ff5555;
    min-width: 3.2rem;
}

#network.disconnected {
    background: #ff5555;
    border-color: #ff6e6e;
}
